include utils/head
include utils/bodyWithMenu
div(class="jumbotron text-center")
    h2 Oops, the server encountered #{status} error
    br
    span.fa.fa-exclamation-triangle #{statusCode} - #{message}