include utils/head
include utils/bodyWithMenu
div(class="container")
    div(class="jumbotron text-center")
        h1
            span(class="fa fa-lock")
                span  CPS3232 Webserver

        a(href="/login" class="btn btn-default")
            span(class="fa fa-user")
        | Login

        a(href="/signup" class="btn btn-default")
            span(class="")
        | Sign Up