include utils/head
include utils/bodyWithMenu
div(class="container")
    div(class="jumbotron text-center")
        h1
            span(class="fa fa-lock")
                span  CPS3232 Webserver

        span
            a(href="/login" class="btn btn-default")
                span(class="fa fa-user")
                    span Login

        span
            a(href="/signup" class="btn btn-default")
                span(class="fa")
                    span Sign Up