include utils/head
include utils/bodyWithMenu
div(class="container")
    div(class="col-sm-6 col-sm-offset-3")
        h1
            span(class="fa fa-sign-in")  Login

        // show any messages that come back with authentication
        if(message.length > 0)
            div(class="alert alert-danger alert-dismissable fade in") #{message}

        form(action="/login" method="post" enctype="application/json")
            | Click the button below to log in using single-sign on
            | (Uses SSO from 192.168.1.10)

            button.btn.btn-warning.btn-lg.block-center(type="submit") Log in
