include utils/head
include utils/bodyWithMenu

div.container
    div.page-header.text-center
        h1
            span.fa.fa-anchor Photos Page
        |  &nbsp;
        a(href="/logout").btn.btn-default.btn-sm Logout

        // show any messages that come back with upload
        if(message.length > 0)
            div(class="alert alert-dismissable fade in") #{message}

div.container
    h2 Click the photo file name you want to print
    ul
        for file in files
            li
                a(href="/print?"+ #{file}) #{file}