include utils/head
include utils/bodyWithMenu
div(class="container")
    div(class="col-sm-6 col-sm-offset-3")
        h1
            span(class="fa fa-sign-in")  Sign Up

        if(message.length > 0)
            div(class="alert alert-danger alert-dismissable fade in") #{message}

        form(action="/signup" method="post")
            div(class="form-group")
                label(for="username") Username
                input(type="text" class="form-control" name="username" id="username")
            div(class="form-group")
                label(for="password") Password
                input(type="password" class="form-control" name="password" id="password")
            button(type="submit" class="btn btn-warning btn-lg") Sign Up
        hr

        p Already have an account?&nbsp;
            a(href="/login") Login
            |  or go&nbsp
            a(href="/") home
            | .